.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Ensure enough space for the arrow to be hidden */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0' height='0'%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 12px 12px;
}

.editable-button {
    background-color: #007bff;
    /* Blue background */
    border: 1px solid #6c757d;
    /* Grey border */
    color: white;
    /* White text */
    border-radius: 0.25rem;
    /* Rounded corners */
    padding: 0.5rem 1rem;
    /* Padding */
    cursor: pointer;
    /* Pointer cursor on hover */
    display: inline-flex;
    /* Align items vertically */
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    /* Smooth transition */
}

.editable-button:hover {
    /* background-color: #0056b3; */
    /* Darker blue on hover */
    /* border-color: #343a40; */
    opacity: 0.8;
    /* Darker border on hover */
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

.editable-button:focus {
    outline: none;
    /* Remove default outline */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    /* Blue shadow */
}

.editable-button span {
    margin-left: 0.5rem;
    /* Space between text and icon */
}

.status-pending {
    background-color: #cfe8fc;
    /* Soft Blue */
    color: #004080;
    /* Darker Blue for contrast */
}

.status-accepted {
    background-color: #007bff;
    /* Soft Green */
    color: #ffffff;
    /* Darker Green for contrast */
}

.status-done {
    background-color: #90caf9;
    /* Medium Blue */
    color: #0d47a1;
    /* Darker Blue for contrast */
}


/* .editable-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.editable-button span {
    margin-left: 0.5rem;
}

.editable-button:hover {
    opacity: 0.8;
} */